player-connection-mode=Listen
player-connection-guid=1042403252
player-connection-debug=0
player-connection-project-name=Multiplayer Development Project
player-connection-ip=192.168.2.9
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
